body {
    background-image: url('./images/bookimage.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: -moz-hidden-unscrollable;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
    height: 100%;
}


.topnav {
    overflow:visible ;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  


#image {
    display: inline-block;
        /* width: 500px; */
    width: 200px;
    height: 150px;
}

.main-container {
    display: inline-flex;
    text-decoration: none;
    width: 100%;
    text-align: left;
    margin-right:16px;
    

}
#btn{
    text-decoration: none;
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    /* background-color: maroon; */
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
    }

h1 {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add {
    padding: 0.4rem;
    width: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color:maroon;
}

p {
    font-size: small;
}

#book {
    color: brown;

}

#books-index {
    font-size: 20px;
    text-align: center;
}

a {
    font-size: medium;
}