body {
    background-image: url('./images/bookimage.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
    height: 100%;
}

#image {
    width: 100px;
    height: 100px;
}

.main-container {
    display: inline-flex;
    width: 100%;
    text-align: left;
    margin-right:16px;

}
#btn{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: green;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
}

h1 {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: green;
}

p {
    font-size: small;
}

#book {
    color: brown;

}

#books-index {
    font-size: 20px;
}

a {
    font-size: small;
}